<%- include ("../partials/header.ejs"); %>



<div class="container">
    
    
    <div class="row">
    <div class="col-12 text-center" style="margin: 30px 0 0 0;">
        <h1>Add A Comment To <%= camp.name %></h1>
    </div>
    </div>
    <div class="row row-content justify-content-center" style="margin: 30px auto;">
        
        <div class="col-md-5">
            <form action="/campgrounds/<%= camp._id %>/comments" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="campName" placeholder="Comment" name="comment[text]" required>

                </div>
                
        
      <button type="submit" class="btn btn-primary btn-sm btn-block">Comment</button>
      <a href="/campgrounds">Go Back</a>
                </div>
                
            </form>
            
        </div>
        
    </div>

    
        
</div>
  



<%- include ("../partials/footer.ejs"); %>